body {
	background: url(images/fond.jpg);
	/* Page background */
	color: #303333;											/* Font color */
	margin: 0;
	font-family: "futura", sans-serif;                    	/* Font */	                 /* Text Shadow */
}
a {
	color: #303333;											/* Link Color */
	/* Text Shadow */
	font-size: 14px;										/* Link Size */
	text-decoration: none;									/* Remove underlines */
	border-bottom: 1px solid rgba(0,0,0,0.0);
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
a:hover {
	/* Link hover color */
	border-bottom: 1px solid #303333;
}
.block {
	border-left: 1px solid rgba(0, 0, 0, 0.0);				/* Left border of link block */
	float: left;
	padding: 1em;											/* Padding around link block */
	width: 200px;
	margin-left: 11%;											/* Link block width */
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
.block:hover {
	border-left: 1px solid #303333;
	border-bottom-left-opacity: 90;					    	/* Left border of link block */
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
h1 {
	font-weight: normal;
	margin: 0px;
	font-size: 16px;										/* Title size */
	font-variant: small-caps;
	cursor: pointer;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
h1:hover {
	color: #555;
	margin: 0px;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
h2 {
	margin-left: 15px;
	margin-top: 18px;
	float: left;
	font-size: 24px;
	font-weight: normal;
}
.main {
	position: absolute;
	height: 20px;
	width: 680px;
	position: absolute;
	margin-left: 15px;
	margin-top: 100px;
	font-size: 14px;
	font-weight: normal;
}
h5 {
	margin: 0;
}
ul {
	padding: 0px;
}
ul li {
	list-style: none;
	cursor: pointer;
	padding: 0px;
}
ul li:hover {
	margin-left: 8px
}
#date {
	margin-top: 25px;
	font-family: "futura Std", sans-serif;
	font-size: 18px;
	font-variant: small-caps;
	font-weight: 100;
	float: right;
	margin-right: 30px;
	margin-top: 70px;
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
	text-align: right;
}
#day {
	font-family: 'FuturaStd', sans-serif;
	font-size: 90px;
	font-weight: 100;
	margin-top: 10px;
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
	text-align: right;
	float: right;
}
#head {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.2);
	background: rgba(0,0,0,0.2);
	padding: 8px;
	padding-right: 10px;
	margin-bottom: 45px;
	height: 120px;
	font-family: "futura Std", sans-serif;
	font-size: 14px;
	font-variant: small-caps;
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
#date:hover {
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
#clock {
	position: absolute;
	top: 40px;
	left: 70%;
	font-size: 75px;
	
	font-family: "futura Std", sans-serif;
	font-variant: small-caps;
	font-weight: 100;
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
#clock:hover {
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
#searches {
	position: absolute;
	top: 10px;
	left: 42%;										/* from right edge */
}
#titre {
	position: absolute;
	top: 80px;
	left: 20px;	
        width: 60%;             /* from right edge */
}
.lien {
	font-size:20px;
	margin-left: 8%;
        font-weight: 500;
}
form {
	margin-top: 70px;
}
form input {
	background: rgba(0, 0, 0, 0.2);							/* Background search box */
	color: #666;											/* Text color search box */
	border: 1px solid rgba(0, 0, 0, 0.2);					/* Border search box */
	font-size: 12px;										/* Text size search box */
	font-family: futura Std;	                                /* Font */
	text-shadow: 0 1px 1px rgba(0,0,0,0.6);
	text-align: center;
	float: none;
	width: 450px;
	height: 20px;
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
	-khtml-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.1);
}
form input:hover {
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.4);
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
form input:focus {
	background: rgba(0, 0, 0, 0.3);
	color: #D2D3D3;
	border: 1px solid rgba(0, 0, 0, 0.4);									/* Border search box */
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 5px rgba(255,255,255,0.1);
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 5px rgba(255,255,255,0.1);
	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 5px rgba(255,255,255,0.1);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3), 0 0 0 5px rgba(255,255,255,0.1);
	-moz-transition: .3s linear;
	-webkit-transition: .3s linear;
}
form input:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: 3;
}
form input:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right: 3;
}
